<ion-view title="Almoço" id="page11">
  <ion-content padding="false" class="has-header">
    <ion-list id="almoO-list3">
      <ion-item id="almoO-list-item18">Salada</ion-item>
      <ion-item id="almoO-list-item19">Arroz integral/branco e Feijão</ion-item>
      <ion-item id="almoO-list-item20">Escondidinho de frango</ion-item>
      <ion-item id="almoO-list-item21">Cenoura Sautê</ion-item>
      <ion-item id="almoO-list-item22">Sobremesa</ion-item>
      <ion-item id="almoO-list-item23">Refresco/Café</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
