<ion-view title="Domingo" id="page9">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
  <ion-content ng-controller="ExampleController" padding="false" class="has-header">
    {{ resp("domingo") }}
    <ion-list id="domingo-list11">
      <ion-item class="item-divider" id="domingo-list-item-divider1"> Café</ion-item>
      <div ng-repeat="item in cafe">
        <ion-item class="item-icon-left" id="domingo-list-item1">
          <i class="icon ion-android-done"></i>{{ item }}</ion-item>
      </div>
    </ion-list>

    <ion-list id="domingo-list12">
      <ion-item class="item-divider" id="domingo-list-item-divider2"> Almoço</ion-item>
      <div ng-repeat="item in almoco">
        <ion-item class="item-icon-left" id="domingo-list-item2">
          <i class="icon ion-android-done"></i>{{ item }}</ion-item>
      </div>
    </ion-list>

    <ion-list id="domingo-list13">
      <ion-item class="item-divider" id="domingo-list-item-divider3"> Jantar</ion-item>
      <div ng-repeat="item in jantar">
        <ion-item class="item-icon-left" id="domingo-list-item3">
          <i class="icon ion-android-done"></i>{{ item }}</ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
