<ion-view title="InstaRancho" id="page2" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading2" style="color:#000000;text-align:center;">Insta Rancho</h1>
    <div id="home-markdown2" style="text-align:justify;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Descubra aqui todas as iguarias que serão servidas no famoso rancho do DCTA durante a semana.</p>
    </div>
    <h2 id="home-heading3" style="color:#000000;text-align:center;">Notícias da Semana</h2>
    <ion-list id="home-list9">
      <ion-item class="item-thumbnail-left" id="home-list-item33" ui-sref="tabs.notCias">
        <img src="img/K9kLLIq2TuSOmi6cCXHA_300px-RedeCASD.png">
        <h2>Internet de qualidade</h2>
        <p style="white-space:normal;">RedeCASD traz internet de padrões sem precendêntes.</p>
      </ion-item>
    </ion-list>
    <h1 id="home-heading4" style="color:#000000;text-align:center;">Top 5</h1>
    <ion-list id="home-list10" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="home-list-item35">
        <i class="icon ion-android-star"></i>Quibe</ion-item>
      <ion-item class="item-icon-left" id="home-list-item36">
        <i class="icon ion-android-star"></i>Vaca atolada</ion-item>
      <ion-item class="item-icon-left" id="home-list-item37">
        <i class="icon ion-android-star"></i>Almôndega</ion-item>
      <ion-item class="item-icon-left" id="home-list-item38">
        <i class="icon ion-android-star"></i>Peixe cozido</ion-item>
      <ion-item class="item-icon-left" id="home-list-item39">
        <i class="icon ion-android-star"></i>Peixe frito</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
