<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabs-tabs1">
    <ion-tab title="Home" icon="ion-android-home" href="#/tabs/page1" id="tabs-tab9">
      <ion-nav-view name="tab9"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Café" icon="ion-coffee" href="#/tabs/page10" id="tabs-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Almoço" icon="ion-android-restaurant" href="#/tabs/page11" id="tabs-tab8">
      <ion-nav-view name="tab8"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Jantar" icon="ion-fork" href="#/tabs/page12" id="tabs-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Ceia" icon="ion-pizza" href="#/tabs/page13" id="tabs-tab7">
      <ion-nav-view name="tab7"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
