/* Empty. Add your own CSS if you like */
/*  241,929    121,067  */
@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 45sp;
    src: fonts/Roboto-Regular.ttf;
}

.mascote{
    display: block;
    margin: auto;
    height: auto;
    width: 75%;
}

.welcome{
    background-color: #E0E0E0;

    margin: auto;
    padding: 5%;
    width: 80%;
    min-height: 200pt;
    border-radius: 10pt;

    font-family: Roboto, sans-serif;
    font-size: 20sp;

    text-indent: 5%;
    text-align: middle;
}

 .welcome h1{
    font-weight: bold;
    font-size: 255%;

    text-align: center;
}

.welcome p{
    color: #000;
    font-weight: normal;
    font-size: 110%;

    text-align: justify;
}

.welcome #goodbye{
    /*color: positive;*/
    font-weight: normal;
    font-size: 140%;

    text-align: right;
}
